@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700&display=swap');
 @font-face {
  font-family: 'NotoNastaliqUrduRegular', serif;
  src: url(../fonts/NotoNastaliqUrdu-Regular.ttf);
}

body {
  font-family: 'NotoNastaliqUrduRegular', serif;
  text-align: right;
}

#topbar {
    background: #fff;
    padding: 10px 0;
    font-size: 14px;
}
#topbar .left-topbar{
	padding: 0px 12px;
    display: inline-block;
}
#topbar .left-topbar p{
	font-family: 'Roboto', sans-serif;
}
.btn-login {
    color: #fff;
    background-color: #f12933;
    border-color: #f12933;
    font-family: 'Roboto', sans-serif;
    padding: 2px 20px;
    border-radius: 20px;
}
.searchbar{
	margin-bottom: auto;
	margin-top: auto;
	background-color: transparent;
    border-radius: 30px;
    border: 1px solid #000;
}

.search_input{
	color: #000;
	border: 0;
	outline: 0;
	background: none;
	width: 0;
	caret-color:transparent;
	line-height: 30px;
	transition: width 0.4s linear;
	font-family: 'Roboto', sans-serif;
}

.searchbar:hover > .search_input{
	padding: 0 10px;
	width: 250px;
	caret-color:red;
	transition: width 0.4s linear;
}

.searchbar:hover > .search_icon{
	background: white;
	color: #e74c3c;
}

.search_icon{
	height: 30px;
	width: 30px;
	float: right;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	color: #000;
}
.right-topbar a {
    color: #555;
    padding: 4px 12px;
    display: inline-block;
    line-height: 1px;
    border-left: 1px solid #e9e9e9;
}
.right-topbar a:first-child {
    border-left: 0;
}

.navbar-expand-lg{
	background: #0468d3;
}
.nav-link {
    display: block;
    padding: 0.7rem 1rem;
    font-size: 18px;
}
.sticky.is-sticky {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
}
.first-section-title{
	font-size: 20px;
    font-weight: bold;
    line-height: 30px;
}
.first-section-desc{
    line-height: 30px;
}
.first-section-sub-desc{
	font-weight: 600;
	margin-top: 10px;
    padding: 5px 15px 15px 5px;
    margin-bottom: 0;
}
.photo-section-bg{
	background: url('../images/photo_bg.png');
	background-repeat: no-repeat;
	background-size: contain;
}
.photo-section-title{
	font-size: 20px;
    font-weight: bold;
    color: #fff;
}
.photo-section-title a:hover{
	text-decoration: none
}
.photo-camera-icon{
	position: absolute;
    bottom: 80px;
    right: 20px;
    color: #fff;
    font-size: 20px !important;
    background: rgb(0, 0, 0, 0.6);
    padding: 12px 12px 12px 12px;
    border-radius: 50%;
}
.photo-camera-icon-single-mobile-grid{
	position: absolute;
    bottom: 90px;
    right: 10px;
    color: #fff;
    font-size: 20px !important;
    background: rgb(0, 0, 0, 0.6);
    padding: 12px 12px 12px 12px;
    border-radius: 50%;
}
.video-play-icon{
	position: absolute;
    bottom: 80px;
    right: 20px;
    color: #fff;
    font-size: 20px !important;
    background: rgb(0, 0, 0, 0.6);
    padding: 12px 12px 12px 15px;
    border-radius: 50%;
}
.video-play-icon-single-mobile-grid{
	position: absolute;
    bottom: 90px;
    right: 10px;
    color: #fff;
    font-size: 20px !important;
    background: rgb(0, 0, 0, 0.6);
    padding: 12px 12px 12px 15px;
    border-radius: 50%;
}

.video-play-icon-grid-3 {
    position: absolute;
    bottom: 100px;
    right: 40px;
    color: #fff;
    font-size: 20px !important;
    background: rgb(0, 0, 0, 0.6);
    padding: 12px 12px 12px 15px;
    border-radius: 50%;
}

.latest-text {
  position: absolute;
    bottom: 22px;
    right: 15px;
    color: #fff;
    background: #f12933;
    padding: 0px 15px 0px 15px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
.news-section-bg{
	background-color: #e2f7ff;
}
.news-section-inner-bg{
	background-color: #fff
}
.news-breadcrumb{
	background: transparent;
}
.news-breadcrumb a{
	color: #0468d3;
	text-decoration: none
}
.news-breadcrumb:hover{
	color: #0468d3;
	text-decoration: none
}
.read-more{
	color: red;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    text-decoration: underline;
}

.read-more-sports-entertainment {
    color: #000;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    text-decoration: underline;
    position: absolute;
    bottom: 0;
    left: 12px;
}

.read-more-sports-entertainment:hover {
    color: #000;
}
.read-more:hover{
	color: #000;
}
.home-href{
	text-decoration: none;
	color: #000
}
.home-href:hover{
	text-decoration: none;
	color: #000
}
.card-shadow {
  -webkit-box-shadow: 3px 4px 8px -2px rgba(231,230,230,1);
-moz-box-shadow: 3px 4px 8px -2px rgba(231,230,230,1);
box-shadow: 3px 4px 8px -2px rgba(231,230,230,1);
position: relative;
}
.horizontal-border{
	border: 3px solid #e7e6e6;
}
.zoom {
  transition: transform .2s; /* Animation */
}
.font-weight-600{
	font-weight: 600
}

.zoom:hover {
  transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.lifestyle-section-title{
	font-size: 20px;
    font-weight: bold;
    color: #0468d3;
}
.lifestyle-section-title a{
    color: #0468d3;
}
.lifestyle-section-title a:hover{
    color: #0468d3;
    text-decoration: none
}
.lifestyle-section-desc{
	font-weight: 600;
}
.vertical-border-content-seperator{
	border-right: 2px solid #bbbbbb;
}
.vertical-border-content-seperator:last-child { border-right: none; }
.horizontal-border-content-seperator{
	border-bottom: 2px solid #bbbbbb;
}
.horizontal-border-content-seperator:nth-last-child(4n+2){ border-bottom: none; }
.editorial-bg{
	background-color: #e2f7ff;
    border: 1px solid #0c5da9;
}
.editorial-bg a{
	text-decoration: none;
}
.editorial-editor-bg{
	background: #0c5da9;
}
.poetry-bg{
	background-color: #002853;
}
.footer-bg{
	background-color: #0468d3;
}
.footer-bg ul li{
	font-family: 'Roboto', sans-serif;
}
.footer-bg a{
	color: #fff;
}
.footer-bg a:hover{
	color: #fff;
	text-decoration: none;
}
.mobile-logo-width{
	width: 215px;
}
.nav-toggle-icon{
	border: 1px solid #fff;
}
.news-details p {
	margin-top: 1rem;
}
.news-details .card{
	border: none;
}
.news-details .card .card-body {
	background: #787878;
	color: #fff;
	text-align: right;
}
.news-details-title{
	font-size: 28px;
	color: #000
}
.news-details-author{
	font-size: 14px;
	color: #000;
	font-family: 'Roboto', sans-serif;
	font-weight: 500
}

.news-details-tag-border-horizontal{
	border:3px solid #e7e6e6;
}
.news-details-tag-border-vertical{
	border-left:5px solid #e7e6e6;
}
.btn-tag{
	color: #fff;
    background-color: #0468d3;
    border-color: #0468d3;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding: 3px 20px;
}
.btn-tag:hover{
	color: #fff;
    background-color: #0468d3;
    border-color: #0468d3;
}
.article-listing-p1-icon{
	position: absolute;
    right: 0;
    background: #f12933;
    color: #fff;
    padding: 8px 15px;
    z-index: 1;
    top: 0;
    font-weight: bold;
    border-radius-bottom-left: 50%;
    border-bottom-left-radius: 25px;
}
.article-listing-border{
    border: 1px solid #dee2e6!important;
    position: relative;
}
.article-news-listing-title{
	font-size: 20px;
	font-weight: 600;
	color: #000;
}
.article-news-listing-title:hover{
	color: #000;
	text-decoration: none;
}
.article-news-listing-sub-title{
	font-size: 22px;
    font-weight: bold;
    color: #000;
}
.article-news-listing-sub-title:hover{color: #000;text-decoration: none}
.breadcrumb-item.active {color: #000;}
.text-black{
	color: #000!important
}
.video-details-border {
    border: 1px solid #dee2e6!important;
    position: relative;
    background: #f5f5f5;
}
.video-details-first-section-title{
	font-size: 24px;
}
.border-left-vertical{
	border-left: 5px solid #bbbbbb;
}

@media only screen and (max-width: 600px)  {  

/*// Small devices (landscape phones, 576px and up)*/
.vertical-border-content-seperator{
	border:none!important;
}
.photo-section-bg{
	background-size: auto;
}

.read-more-sports-entertainment{
	position: relative;
}
.video-play-icon{
	bottom: 130px;
	right: 20px;
	font-size: 10px !important;
    padding: 6px 6px 6px 10px;
}
.photo-camera-icon{
	bottom: 130px;
	right: 20px;
	font-size: 10px !important;
    padding: 6px;
}

.bg-grey-mobile{
	background-color: #dadada;
}
.first-section-title{
	font-size: 22px;
    line-height: 30px;
}
.first-section-desc{
	line-height: 30px;
}
.video-play-icon-grid-3 {
    bottom: 135px;
    right: 20px;
    color: #fff;
    font-size: 10px !important;
    padding: 6px 6px 6px 10px;
}

}


@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1366px) 
  and (-webkit-min-device-pixel-ratio: 2) {
.media-body{
	display: contents;
}

.photo-camera-icon{
	bottom: 130px;
}
.video-play-icon{
	bottom: 130px;
}
.latest-text {
    position: relative;
    bottom: 30px;
    width: 80px;
    float: right;
    right: 0;
}

}
